/* Setup Snippet, general styling*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px dashed black; */
  background: grey;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

h1 {
  color: white;
  text-transform: uppercase;
  margin: 0 10px;
  /* width: 25%; */
 }

.nav {
  border-left: 1px solid white;
  flex: 1 0 50%;
}
  .nav__list {
    /* border: 1px solid blue; */
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__listItem {
    padding: 10px;
}
.nav__link {
     color: white; 
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  
  .social .social__link {
    /* border: 1px solid green; */
    display: block;
    padding: 10px;
    width: 100%; }
    .social .social__link img {
      width: 20px; }
    .social .social__link i {
      font-size: 2rem;
      color: black; }


      .wrapper {

           max-width: 1080px;
           width: 80%;
           margin: 0 auto;
           display: flex;
          flex-direction: column;
      }

      section {
           padding: 30px 0;
      }
      .items {
           display: flex;
          flex-direction: column;      }
      .image {
        border: 1px solid black;
        flex: 1 0 250px;
        /* width: calc(30% - 40px); */
      }
      .image2 {
        border: 1px solid black;
          /* width: 400px;   */
      }

      img {
           display: block;
      }

      .imagePlaceholder {
        background: grey;
        border: 1px solid black;

      }
       h2 {
        margin: 10px 0;
      }

       p {
        margin: 5px 0;
      }
      .main .imagePlaceholder {
        height: 30vh;
        width: 69%;

      }
      .main .imagePlaceholderSmall {
        width: 30%;
      }
      .about .imagePlaceholder {
        width: 100%;
        height: 30vh;
      }

      .row {
        display: flex;
        justify-content: space-between;
      }
      .row:last-child {
      margin: 1% 0;

      }

      .about .row .imagePlaceholder {
        width: calc((100% / 3) - 0.5%);
        height: 50vh;
      }

      .pricing {
        margin-top: 30px;
      }

      .galleryPage section.gallery  {
        text-align: right;
        padding-top: 120px;
      }
      .galleryPage section {
        padding: 100px 0;
        position: relative;
      }
      .galleryPage .gallery::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        /* background: lightgray; */
        width: 0;
        height: 50px;
        border: 0 solid transparent;
        border-right-width: 100vw;
        border-left-width: 0px;
        border-bottom: 100px solid lightgrey;
      }
      .galleryPage .gallery::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        /* background: lightgray; */
        width: 0;
        height: 50px;
        border: 0 solid transparent;
        border-right-width: 100vw;
        border-left-width: 0px;
        border-top: 100px solid lightgrey;
      }

      .galleryPage section:first-of-type, 
      .galleryPage section:last-of-type {
        background: lightgray;
      }
      .left {
        /* border: 1px dashed blue; */
        padding: 0;
        width: 70%;
      }

      form {
        /* width: 50%; */
        /* border: 1px solid black; */
        margin: 20px 0;
        display: flex;
        flex-direction: column;
      }

      form .name {
        display: flex;
        justify-content: space-between;
      }
      input {
        padding: 5px;
        margin-bottom: 5px;
      }
      form .name input,
      .email {
        width: 49.5%;
        height: 50px;
        padding: 5px;
      }

      .email {
        width: 100%;
      }

      form .message {
        height: 200px;
      }

      .submitButton {
        width: 100%;
        height: 50px;
        border: none;
        background: grey;
      }



      aside {
        
        background: grey;
        width: 28%;
        height: 456px;
        padding: 0 10px;
        color: white;
      }
      aside h3 {
        color: white;
        padding-top: 0;

      }

      aside .social  {
        border: 1px solid white;
        flex-direction: column;
      }
      aside .social a {
        display: flex;
      }
      .contact .wrapper {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
      }