

.header--main {
     // background: url(https://lightroom.adobe.com/v2c/spaces/e6b8eeefa22e49259981686b2619bd2f/assets/39233fed321e4108b5b010d61c9e4443/revisions/628c294b187e414c8a2b43986bdc6335/renditions/7394381a24a83e2a0f18550a3eb2c02b);
     background: url(https://lightroom.adobe.com/v2c/spaces/e6b8eeefa22e49259981686b2619bd2f/assets/3005dc09d73c428098e95fba9abcd0e9/revisions/6fb4ca9bcd584b72bf7308e093b6455b/renditions/a6d2639568842f8df592ad7b92068d7a) 70% 100%;
     position: relative;
     background-size: cover;
     background-attachment: fixed;
     height: 100vh;
     .headerOverlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(255, 255, 255, 0.45);
          // z-index: ;
     }
     .wrapper {
          // border: 1px dashed black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          height: 100%;
     }
     .title--smallest {
          z-index: 10;
     }
     .main--link {
          
          z-index: 10;
          color: $deepColor;
          width: 50px;
     }
}

.diagonal.home-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    z-index: 99;
    left: auto;
}
.diagonal.home-left, .diagonal.home-right path {
    fill: $lightColor;
    stroke: $lightColor;
    stroke-width: 4;
}
.diagonal.home-left {
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    z-index: 99;
}


.header--about {
     background: url(assets/contact-image-1.jpg);
     background-size: cover;
     height: 60vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     .wrapper {
          height: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     
}

.main-title {
  
     &--main-page {
          margin: 0;
          line-height: 1;
          color: black;
          z-index: 10;
     }
     &--about-page {
          font-size: 7rem;
          position: relative;
          bottom: -210px;
          z-index: 100;
     }
     &--gallery-page {
          color: $lightColor;
          font-size: 7rem;

     }
}


