// Nav can be good until 670px


@media (max-width: 1060px) {
     .blog {
          .wrapper {
               display: block;
          }
          .aside {
               padding: 0;
               display: flex;
               flex-direction: row;
               justify-content: space-between;

               &__about, 
               &__posts {
                    width: 48%;
                    border-top: 5px solid $secondColor;
               }

               &__about-pic {
                    display: none;
               }
          }

     }
     
     .header--main {

          .main-title-wrap {
               // border: 1px solid red;
               // width: 50%;
          }
     
          .willow-pic {
               max-width: 100%;
               width: fit-content;
          }
          .willow-pic__img {
          display: block;
          position: relative;
          top: 60px;
          max-width: 100%;
          box-shadow: 20px 20px 0 white;
     }
}
     
}

@media (max-width: 1010px) {
     .header--main {
          .wrapper {
               width: 100%;
               // border: 1px solid white;
               height: 100%;
               align-items: center;
               justify-content: center;
          }

          .main-title {

               &-wrap { 
                    max-width: 100%;
                    font-size: 8rem;
               }
          }

     }

     .blog-section {
          &__picture {
               position: static;
               margin: 20px 0;
               max-width: 80%;
          }
          
     }


     .journey-section {
          padding: 50px 0;
          .wrapper {
               width: 100%;
               padding: 30px;
          }
     }

     footer{
          ul {
          width: 100%;
          }
     }

}

@media (max-width: 920px) {
     .main-title {
          &--main-page {
               font-size: 10rem;
          }
          &__prefix {
          max-width: 120px;
          left: -15px;
          top: -30px;
     }

     }
     

     .contact-page {
         
          .contact-info {
               width: 100%;
               margin: 0;
               margin-bottom: 30px;

          }
     }


     .contact-me {
          .contact-me__input {    
               &--large {
               box-shadow: -100px -150px 0px $accentColor, -5px 0px 0px $accentColor;
               }
          }
     }

     .gallery-section {
          .wrapper {
               padding: 1px;
          }
     }

     .journey-section {
          .wrapper {
               display: block;
               margin: 0 auto;
               // working on making this section look good
          }

          &__pic {
               width: 60%;
               margin: 0 auto;
               padding: 0;

          }
          &__img {
               box-shadow: -20px -20px 0 $secondColor,
                              20px 20px 0 $secondColor;

          }
          &__description {
               margin: 50px 0 0;
               text-align: center;
          }

          .more-button {
               margin: 0 auto;
          }
     }

     .about-section {
          padding: 50px 20px;
     }

     .blog-section {
          &__picture {
               position: static;
               margin: 0;
               max-width: 100%;

          }
          &__img {
               position: static;
               // width: 100%;
          }

          &__description,
          &__description--right {
               text-align: center;
               align-items: center;
          }

          &__content--left, 
          &__content--right {
               width: 100%;
          }
     }

     
}




