@media (max-width: 500px) {
     .gallery--wrapper {
          // width: 100%;
          .grid {
               grid-gap: 5px;
               grid-template-columns: repeat(2,  1fr);
          }
     }
     .diagonal-gray {
    height: 70px;
     }
     .info-section {
          &__content {
               width: 80%;
          }
     }
     .header--main {
          .main-title {
  
          &--main-page {
               font-size: 4.5rem;
               }
          }
          
     }
     .header--small-plants,
     .header--large-plants {

          .main-title {
               font-size: 6rem;
               top: 20px;
          }
     }

     .blog__comment-pic {
          display: none;
     }

     .contact-me {
     
          &__details {
               flex-direction: column;
          }
     
          &__input {
               width: 100%;         

          }
     }
     .contact-info {
     
          .info-box {
               padding: 5px 5px;
          }}

}

@media (max-width: 450px) {
footer {
         .wrapper {
              width: 95%;
         }
}
.collection {
     position: relative;
     .gallery-section__pic {
          filter: grayscale(10);
     }
     &__overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(255, 255, 255, 0.5);
          padding: 10px 5px;
          opacity: 0;
          transition: opacity 0.5s; 
     }
     .title--smallest {
          font-size: 1.4rem;
     }
     .content {
          font-size: 1.4rem;
     }
}
}
@media (max-width: 400px) {

     .info-section {
          .wrapper {
               margin: 0 auto;
          }
          &__content {
               display: none;
          }
          &__cell {
               margin: 10px 0;
          }
          .title--small {
               line-height: 5.5rem;
          }
     }

     footer {
         a.content, .copyright {
              font-size: 1.4rem;
         }
}

     html {
     
     body {
          font-size: 1.6rem;
     }}
}

