// Nav @ 670px

@media (max-width: 670px) {
     .gallery--wrapper {
          width: 95%;
     }
     .collection {
     position: relative;
     .gallery-section__pic {
          filter: grayscale(10);
     }
     &__overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(255, 255, 255, 0.5);
          padding: 15px;
          opacity: 0;
          transition: opacity 0.5s; 
     }
     .title--smallest {
          font-size: 1.6rem;
     }
     .content {
          font-size: 1.4rem;
     }
     p.content {
          display: none;
     }
     &:hover .collection__overlay {
          opacity: 1;
     }
     &:hover .gallery-section__pic {
          filter: none;
     }
     }

     .diagonal-gray {
    height: 90px;
     }
     .header--main {
          .main-title {
  
          &--main-page {
               font-size: 6rem;
               }
          }
          .title--smallest {
               text-align: right;
          }
     }

     .blog {
          .aside {
               flex-direction: column;

               &__about, 
               &__posts {
                    width: 100%;
                    border-top: 5px solid $secondColor;
               }

          }

     }

     .gallery-section {
          &__pic {
          margin: 0;
          }
     }



     .header--small-plants,
     .header--large-plants {
          .wrapper {
               height: 100%;
          }
     } 

}    
     
@media (max-width: 580px) {
     footer {
          a {
          padding: 10px 10px;
          }
}

}
     
@media (max-width: 530px) {
     .blog-section {
          &__picture {
               display: none;        
          }
     }

}